<div id="contents">
    <div class="bkRGBA">
        <div class="cate-list">

            <table>
            <!--
                <% @categories.each do |category| %>
                    <tr>
                        <td><input type="checkbox" name="riyu" value="<%=category.value%>">
                            <%=category.title%>
                        </td>
                    </tr>
                    <% end %>
            -->
            <% @categories.each do |category| %>
                <a href="/category/<%=category.id%>/">
                    <button type="button" class="btn btn-secondary" style="opacity:0.5"><%=category.title%></button>
                </a>
            <% end %>
            </table>
        </div>

        <div id="select">
            <input type="button" class="btn btn-outline-secondary" value="select">
        </div>
        <div id="top">
            <input type="button" class="btn btn-outline-secondary" value="top" onclick="location.href='/top'">
        </div>
    </div>
</div>
    