
         <div id="contents">
           <div class="bkRGBA">
            
            <div id="answer">
             <div class="box17">
                <h1>アイスクリーム</h1>
                <p>甘えさせてくれたり、支えてくれる相手を求めているようです。あなたに恋人や結婚相手がいるなら、そういった部分を相手に求めているのでしょう。</p>
             </div>
              <div class="post">
                  <input type="button" class="btn btn-outline-secondary" value="スレッド" onclick="location.href='/post'" >
              </div>
            </div>
           </div>
          </div>
         <footer>
        <input type="button" class="btn btn-outline-secondary" value="TOP" onclick="location.href='/top'"> 
    </footer>
   