<div id="contents">
    <div class="bkRGBA">
        <div class="box">
            <textarea>
             
          </textarea>
        </div>
        <div id="post">
            <input type="button" class="btn btn-outline-secondary" value="投稿">
        </div>
    </div>
    <div id="top">
        <input type="button" class="btn btn-outline-secondary" value="top" onclick="location.href='/top'">
    </div>
</div>
