    <div id="contents">
        <div class="bkRGBA">
            
            <div id="key">
                <label>keyword</label>
            </div>
            
            <div id="search">
                <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">☆</button>
      </span>
    </div>
  </div>
            </div>
            <div class="catebtn">
                <input type="button" class="btn btn-outline-secondary" onclick="location.href='/category'" value="category" />
            </div>
        </div>
    </div>
