#contents {
            width:100%;
            height:500px;
            background-image:url('images/haikei.png');
            background-size:380px auto;
            background-repeat: no-repeat;
            background-position: center;
            font-family:fantasy;
        }
    .bkRGBA{
          /* 背景画像の透過用css */
            height: 100%;
            background: rgba(255,255,255,0.65);
        }
    textarea {
        width:500px;
        height:200px;
    }
    .box{
        margin:auto;
        text-align:center;
        padding-top:60px;
    }
    
    #post {
        width:1000px;
    }
    
    #post .btn-outline-secondary{
        float:right;
    }
    